.emacs.d/elpa/
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/auto-save-list
.emacs.d/tramp
.emacs.d/recentf
.emacs.d/var/
.emacs.d/url/cookies
.emacs.d/server/server
.emacs.d/ac-comphist.dat
.emacs.d/server

.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
